
:root {
    --header: 65px;
}


body{
background-color: #cf8944;
text-align: center;
margin: 0px;
}

#title-text{
color: rgb(229, 222, 222);
font-size: 20px;
font-weight: bold;
}

h1 {
color: white;
font-weight: bold;
font-size: 50px;
text-align: center;
margin-top: 40px;
}

h2 {
color: whitesmoke;
}

.navbar ul {
    list-style-type: none;
    background-color: white;

    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #a49e97;
    color: white;
}

.navbar li {
    float: left;
}