:root {
    --header: 65px;
}


body{
background-color: #cf8944;
text-align: center;
}

#title-text{
color: rgb(229, 222, 222);
font-size: 20px;
font-weight: bold;
}

h1 {
color: white;
font-weight: bold;
font-size: 50px;
}

h2 {
color: whitesmoke;
}

nav {
display: flex;
gap: 20px;
justify-content: center;
}